<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="1" name="Test">
		<classes>

			<class name="com.pom1.fitness.FitnessApplicationTests" />
			<class name="com.assignment.pageobjectmodel.tests.BaseTest" />
			<class name="com.assignment.pageobjectmodel.tests.ProductTest" />
			<class
				name="com.assignment.pageobjectmodel.tests.AddtoCartTest" />

			<class name="com.assignment.pageobjectmodel.tests.PopupTest" />
			<class name="com.assignment.pageobjectmodel.tests.CheckoutTest" />


		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
